<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appSettings>
		<add key="CadViewer.DomainWhitelist" value="*.projectcompanion.com,*.inmotion.se, localhost"/>
		<add key="CadViewer.TempFolder" value="C:/temp/cadviewer/dump/" />
		<add key="CadViewer.ConverterLocation" value="C:/Projects/ProjectCompanion/Application/Web/Vendor/CV/converters/ax2020/windows/" />
		<add key="CadViewer.Executable" value="AX2020_W32_20_05_49c.exe" />
		<add key="CadViewer.XPathLocation" value="" />
		<add key="CadViewer.FontLocation" value="" />
		<add key="CadViewer.LibreOffice.ProgramLocation" value="C:/LibreOffice/program/" />
		<add key="CadViewer.LibreOffice.Env.UserInstallation" value="file:///C:/temp/CadViewer/IISHOME/" />
		<add key="CadViewer.LibreOffice.UnoconvPath" value="file:///C:/temp/CadViewer/bin/" />
		<add key="CadViewer.Debug" value="true" />
	</appSettings>
	<system.webServer>
		<security>
			<requestFiltering allowDoubleEscaping="true" allowHighBitCharacters="true">
				<requestLimits maxAllowedContentLength="4294967295" />
			</requestFiltering>
		</security>
		<staticContent>
			<remove fileExtension=".json" />
			<remove fileExtension=".woff2" />
			<remove fileExtension=".less" />
			<mimeMap fileExtension=".less" mimeType="text/css" />
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
			<mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<mimeMap fileExtension=".res" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".mem" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".wasm" mimeType="application/wasm" />
			<mimeMap fileExtension=".dwg" mimeType="application/acad" />
		</staticContent>
		<httpProtocol>
			<customHeaders>
				<add name="X-Robots-Tag" value="none" />
				<add name="X-UA-Compatible" value="IE=edge" />
				<add name="Content-Security-Policy" value="default-src 'self' *.projectcompanion.com; script-src 'self' 'unsafe-inline' 'unsafe-eval' blob:; style-src 'self' 'unsafe-inline'; font-src 'self' data:; img-src 'self' data:" />
			</customHeaders>
		</httpProtocol>
		<rewrite>
			<rules>
				<rule name="CadViewer Pickup" stopProcessing="true">
					<match url="vendor/CV/converters/files(?:\/([^\/]*)|$)" />
					<action type="Rewrite" url="vendor/CV/getFileHandler.ashx?keep=1&amp;attachment=0&amp;tag={UrlEncode:{UrlDecode:{R:1}}}" />
				</rule>
				<rule name="CadViewer OfficeConvert" stopProcessing="true">
					<match url="vendor/CV/converters/office(?:\/([^\/]*)|$)" />
					<action type="Rewrite" url="/vendor/CV/OfficeConvert.ashx?filename={UrlEncode:{UrlDecode:{R:1}}}" />
				</rule>
				<rule name="CadViewer Legacy Convert Endpoint" stopProcessing="true">
					<match url="vendor/CV/converters/CadViewer/convert(?:\/([^\/]*)|$)" />
					<action type="Rewrite" url="vendor/CV/callApiConversionHandler.ashx?filename={UrlEncode:{UrlDecode:{R:1}}}" />
				</rule>
				<rule name="CadViewer Legacy Load Endpoint" stopProcessing="true">
					<match url="vendor/CV/converters/CadViewer/load(?:\/([^\/]*)|$)" />
					<action type="Rewrite" url="vendor/CV/LoadHandler.ashx?filename={UrlEncode:{UrlDecode:{R:1}}}" />
				</rule>
				<rule name="CadViewer Legacy Append Endpoint" stopProcessing="true">
					<match url="vendor/CV/converters/CadViewer/append(?:\/([^\/]*)|$)" />
					<action type="Rewrite" url="vendor/CV/AppendFileHandler.ashx?filename={UrlEncode:{UrlDecode:{R:1}}}" />
				</rule>
				<rule name="CadViewer Legacy Save Endpoint" stopProcessing="true">
					<match url="vendor/CV/converters/CadViewer/save(?:\/([^\/]*)|$)" />
					<action type="Rewrite" url="vendor/CV/SaveFileHandler.ashx?filename={UrlEncode:{UrlDecode:{R:1}}}" />
				</rule>
				<rule name="CadViewer Legacy MakeSinglePagePDF Endpoint" stopProcessing="true">
					<match url="vendor/CV/converters/CadViewer/makesinglepagepdf(?:\/([^\/]*)|$)" />
					<action type="Rewrite" url="vendor/CV/MakeSinglePagePDF.ashx?filename={UrlEncode:{UrlDecode:{R:1}}}" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
